[Unit]
Description=Jellyfin media server

[Container]
Image=docker.io/jellyfin/jellyfin:10
AutoUpdate=registry
UserNS=auto
Pod=web.pod
Volume=/nas/media/jellyfin:/config
Volume=jellyfin-cache.volume:/cache
Volume=/nas/media:/nas/media:ro

[Service]
Restart=on-failure
RestartSec=5s
