[Unit]
Description=Jellyfin media server

[Container]
Image=docker.io/jellyfin/jellyfin:10
AutoUpdate=registry
Pod=web.pod
Volume=jellyfin-config.volume:/config:Z
Volume=jellyfin-cache.volume:/cache:Z

# FOR NOW use something easier
# Volume=/nas/media:/media:ro
Volume=%h/media:/media:ro

[Service]
Restart=always
RestartSec=5s
