[Unit]
Description=ArchipelagoMW web host

[Container]
Image=archipelago.build
Volume=%h/Archipelago/externals:/data/externals:ro
Volume=%h/Archipelago/roms:/data/roms:ro
Volume=%h/Archipelago/worlds:/opt/Archipelago/custom_worlds:ro
AutoUpdate=registry
PublishPort=8888:80
UserNS=auto
# SIGTERM doesn't do the trick.
StopSignal=SIGKILL

[Service]
Restart=always
RestartSec=5s
