[Unit]
Description=My YARP-based reverse proxy

[Container]
Image=yarp.build
AutoUpdate=registry
Pod=web.pod
Secret=archipelago_host,type=env,target=ReverseProxy__Routes__archipelago__Match__Hosts__0
Secret=forgejo_host,type=env,target=ReverseProxy__Routes__forgejo__Match__Hosts__0
Secret=jellyfin_host,type=env,target=ReverseProxy__Routes__jellyfin__Match__Hosts__0
Volume=certbot-etc-letsencrypt.volume:/etc/letsencrypt:ro,Z
UserNS=auto

[Service]
Restart=on-failure
RestartSec=5s
