[Unit]
Description=Renew all certificates using certbot

[Container]
# name it so that it conflicts with all other certbot management units.
# only one instance of Certbot is allowed to run at a time.
ContainerName=certbot
Pod=web.pod
StartWithPod=false

Image=docker.io/certbot/dns-cloudflare:latest
Volume=certbot-etc-letsencrypt.volume:/etc/letsencrypt:Z
Volume=certbot-var-lib-letsencrypt.volume:/var/lib/letsencrypt:Z
Volume=certbot-var-log-letsencrypt.volume:/var/log/letsencrypt:Z
AutoUpdate=registry
Secret=cloudflare_credentials,mode=0600
Exec=renew

[Service]
Type=oneshot
TimeoutStartSec=900
